/** @format */

$main-background: #333333;

$container-color: #fafafa;

$container-color2: #757575;

$container-color3: #D7D7D7;

$text-color: #232323;

$text-color-green: #007549;

$text-color-red: rgb(228, 60, 60);

$main-color: #029664;

$box-shadow1: 0 1px 4px rgba(0, 0, 0, 0.5);

$box-shadow2: 0 1px 5px rgba(0, 0, 0, 0.8);

$box-shadow3: 0 1px 5px 2px rgba(2, 150, 100, 0.8);